# N.B. Secrets keys can be generated with the following command:
# `python -c "import secrets; print(secrets.token_urlsafe(50))"`
SECRET_KEY=bxM0I5tRB_oEgCmwP2Cagf8gTt7-91M-S-11-axpvUj35b7D6H2yu9noccCKwm7w92Q

DATABASE_URL=postgresql://goodaulbooks_user:localdev@localhost:5433/goodaulbooks
