[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.1.*"
"psycopg2-binary" = "*"
pyaml = "==17.*"
graphene = "==2.*"
graphene-django = "==2.*"
lazy-import = "*"

[dev-packages]
pylint = "*"
black = "==18.9b0"
mypy = "*"
coloredlogs = "*"

[requires]
python_version = "3.7"
