[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
xmltodict = "==0.11.*"
redis = "==2.10.*"
walrus = "==0.6.*"
hashids = "==1.2.*"
python-slugify = "==1.2.*"

[dev-packages]
black = "==18.9b0"

[requires]
python_version = "3.7"
