{% macro book_list_item(book) -%}
    <div class="card">
        <div class="card-image">
            {{ book_cover(book) }}
        </div>
        <div class="card-content">
            {% with genres=book.genres.all()[0:2] %}
                {{ genres_container(genres) }}
            {% endwith %}
        </div>
        <div class="card-action">
            <a href="{{ url("library:book", kwargs={"slug": book.slug}) }}" class="view-book-link nes-btn is-primary">View book</a>
        </div>
    </div>
{%- endmacro %}

{% macro book_cover(book) -%}
    <div class="book-cover">
        <p class="book-title">
            {{ book.title }}
            {% if book.subtitle %}
                <span class="book-subtitle">{{ book.subtitle }}</span>
            {% endif %}
        </p>
        {% if book.authors.all()|length %}
            <p class="author-name">{{ book.authors.all()[0]|author_full_name }}</p>
        {% endif %}
    </div>
{%- endmacro %}

{% macro genres_container(genres, full_width=False) -%}
    <div class="genres-container">
        {% for genre in genres %}
            <a href="#" class="genre {{ "full" if full_width else "" }} nes-badge">
                <span class="is-success">{{ genre.name }}</span>
            </a>
        {% endfor %}
    </div>
{%- endmacro %}

{%- set BOOK_SIZE_NB_PAGES_RATIO = 800 -%}
{% macro book_pages_count(book_size) %}
    {{( book_size / BOOK_SIZE_NB_PAGES_RATIO) | int }} pages
{%- endmacro %}
