{% extends "website/layout/layout.html" %}

{% import 'website/macros/library.html' as library %}

{% block breadcrumb %}
    <div id="breadcrumb">
        <a href="{{ url("library:home") }}" class="nes-text is-primary">Homepage</a>
        <span>Library</span>
        <a href="{{ url("library:book", kwargs={"slug": book.slug}) }}" class="nes-text is-primary">{{ book.title|truncate(50) }}</a>
    </div>
{% endblock breadcrumb %}

{% block body %}
    <main id="book-page" itemscope itemtype="http://schema.org/Book">

        <div class="book-content">

            <section class="book-main-info">

                <div class="book-cover-container">
                    {{ library.book_cover(book) }}
                </div>

                <div class="book-main-data">

                    <h2 class="book-title" itemprop="name">{{ book.title }}</h2>
                    {% if book.subtitle %}
                        <h4 class="book-subtitle">{{ book.subtitle }}</h4>
                    {% endif %}

                    {{ library.language(book.lang) }}
                    {{ library.book_pages_count(book.size) }}

                    {% if book.authors.all()|length %}
                        <div class="authors">
                            {% for author in book.authors.all() %}
                                <a href="{{ url("library:books_by_author", kwargs={"slug": author.slug}) }}"
                                   class="author-name" itemprop="author">
                                    <i class="nes-kirby is-small" ></i>
                                    <span>
                                        {{ author|author_full_name }}
                                        {% if author.birth_year or author.death_year %}
                                            <i class="birth-death-years">(
                                                {%- if author.birth_year %}<span itemprop="birthDate">{{ author.birth_year}}</span>{% else %}?{% endif %}
                                                -
                                                {% if author.death_year %}<span itemprop="deathDate">{{ author.death_year}}</span>{% else %}?{% endif -%}
                                            )</i>
                                        {% endif %}
                                    </span>
                                </a>
                            {% endfor %}
                        </div>
                    {% endif %}

                </div>
            </section>

            {% with genres=book.genres.all() %}
                {% if genres|length > 0 %}
                    <section class="book-genres">
                        <p class="genres-label">This book belongs to the following literary genres:</p>
                        {{ library.genres_container(genres, full_width=True) }}
                    </section>
                {% endif %}
            {% endwith %}

            {% with intro=book.additional_data.intro %}
                {% if intro %}
                    <div class="book-intro-container">
                        <span class="label">Intro</span>
                        <div class="book-intro nes-container is-rounded">
                            <span class="intro">{{ intro }} [...]</span>
                            <p class="read-more">Download the book to read more! ^_^</p>
                        </div>
                    </div>
                {% endif %}
            {% endwith %}

        </div>
        {# end .book-content #}

    </main>
{% endblock body %}
