html {
  font-size: $font-size-default;
}

body {
  margin: 0;
  background: $color-black;
  font-family: $family-sans-serif;
  font-size: 1.6rem;
  color: $color-text-default;
}

a {
  color: $color-blue;
  text-decoration: none;
}

h1,
h2,
h3,
h6 {
  font-family: $family-serif;
  margin: 0.5rem 0;
  color: $color-text-title;
}

h1,
h2.page-title {
  font-size: 3.6rem;
  line-height: 1.25;
  letter-spacing: -0.1rem;
}

h2,
h3 {
  font-size: 2.4rem;
  line-height: 1.25;
}

h2.page-title {
  .subtitle {
    padding-left: 2rem;
    font-style: italic;
  }
}

h6 {
  font-size: 2rem;
  line-height: 1.4;
  letter-spacing: 0.16rem;
}

p,
.text {
  line-height: 1.8;
}

#page-wrapper {
  background: $color-gray-lightest;
}
