body {
  background: $white-bis;
}

a {
  transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
  border-bottom: dotted 1px;
  color: $blue;
  text-decoration: none;
}

a:hover {
  border-bottom-color: transparent;
}
