body {
  margin: 0;
  background: $color-black;
  color: $color-text;
  size: $body-size;
  font-family: $family-sans-serif;
}

a {
  color: $color-blue;
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: $family-serif;
  color: $color-black;
  margin: 0.5rem 0;
}

h1 {
  font-size: 3.6rem;
  line-height: 1.25;
}

#page-wrapper {
  background: $color-gray-light;
}
