body {
  background: $color-background;
}

a {
  transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
  border-bottom: dotted 1px;
  color: $color-pink;
  text-decoration: none;
}

a:hover {
  border-bottom-color: transparent;
}

strong,
b {
  color: $color-gray-1;
  font-weight: 400;
}

em,
i {
  font-style: italic;
}

p {
  margin: 0 0 2em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-gray-1;
  font-weight: 300;
  line-height: 1em;
  margin: 0 0 0.5em 0;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
  text-decoration: none;
}

h2 {
  font-size: 2.25em;
  line-height: 1.5em;
  letter-spacing: -0.035em;
}

h3 {
  font-size: 1.75em;
  line-height: 1.5em;
  letter-spacing: -0.025em;
}

h4 {
  font-size: 1.1em;
  line-height: 1.5em;
  letter-spacing: 0;
}

h5 {
  font-size: 0.9em;
  line-height: 1.5em;
  letter-spacing: 0;
}

h6 {
  font-size: 0.7em;
  line-height: 1.5em;
  letter-spacing: 0;
}

sub {
  font-size: 0.8em;
  position: relative;
  top: 0.5em;
}

sup {
  font-size: 0.8em;
  position: relative;
  top: -0.5em;
}

hr {
  border: 0;
  border-bottom: solid 2px $color-white;
  margin: 2em 0;
}

hr.major {
  margin: 3em 0;
}

blockquote {
  border-left: solid 4px $color-white;
  font-style: italic;
  margin: 0 0 2em 0;
  padding: 0.5em 0 0.5em 2em;
}

pre {
  -webkit-overflow-scrolling: touch;
  background: $color-whiter;
  border-radius: 6px;
  border: solid 1px $color-white;
  font-family: monospace;
  font-size: 0.9em;
  line-height: 1.75em;
  margin: 0 0 2em 0;
  overflow-x: auto;
  padding: 1em 1.5em;
}

code {
  background: $color-whiter;
  border-radius: 6px;
  border: solid 1px $color-white;
  font-family: monospace;
  font-size: 0.9em;
  margin: 0 0.25em;
  padding: 0.25em 0.65em;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}
