/* Box */

.box {
  margin: $box-margin;
  background: $color-white;
  box-shadow: 0 2px 3px 0 rgba($color-gray, 0.5);

  .box-header {
    background-color: $color-black;
    text-align: center;
  }

  .box-content {
    margin: 0 1rem;

    h3 {
      font-family: $family-serif;
    }
  }
}
