/* Box */

.box {
  @include clearfix();

  background: $white;
  box-shadow: 0 2px 0 0 $color-white;

  .box-header {
    text-align: center;
  }

  .box-content {
    margin: 0 1rem;

    h3 {
      font-family: $family-serif;
    }
  }
}
