.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &.boxes-container {
    margin: 0 (-$box-margin);
  }

  .grid-item {
    width: 33%;
    margin: 0;
    box-sizing: border-box;
  }

  h2 + & {
    margin-top: -1rem !important;
  }
}
