.book-cover {
  $blue: map-get($primary-colors, "shadow");
  $orange: map-get($warning-colors, "hover");
  $orange-dark: map-get($warning-colors, "shadow");

  background-color: $blue;
  color: $orange;

  height: 24rem;
  position: relative;

  p,
  a {
    position: absolute;
    width: 100%;
    padding: 0 8px;
    font-family: $font-serif;
    text-align: center;
  }

  a {
    color: $orange;

    &:hover {
      color: $orange-dark;
    }
  }

  .book-title {
    top: 3rem;
    font-size: 18px;

    .book-subtitle {
      display: block;
      font-size: 12px;
    }
  }

  .author-name {
    bottom: 10px;
  }
}
