main#book-page {
  display: flex;

  .book-cover-container,
  .book-content {
  }

  .book-cover-container {
    width: 30%;
    margin-right: 3%;
  }

  .book-content {
    width: 66%;
    padding: 1rem;

    .book-title {
      margin-top: 0;
    }

    .book-subtitle {
      margin-top: 0.5em;
    }

    .authors {
      margin: 2rem 0 1rem 0;

      .author-name {
        display: flex;
        align-items: center;
        height: 48px;

        & i {
          display: inline-block;
          transform: scale(0.5, 0.5);
          width: 48px;
          margin-right: 1.5rem;
        }
      }
    }

    .genres {
      .badge {
        float: none;
      }
    }
  }
}
