main#book-page {
  display: flex;

  .book-cover-container,
  .book-content {
  }

  .book-cover-container {
    width: 30%;
    margin-right: 3%;
  }

  .book-content {
    width: 66%;
    padding: 1rem;

    .book-title {
      margin-top: 0;
      font-size: 2.5rem;
      color: map_get($error-colors, "shadow");
    }

    .book-subtitle {
      margin-top: 0.5em;
    }

    .authors {
      margin: 2rem 0 1rem 0;

      .author-name {
        display: flex;
        align-items: center;
        height: 48px;
        color: black;

        &:hover {
          color: map-get($warning-colors, "shadow");
        }

        & i {
          display: inline-block;
          transform: scale(0.5, 0.5);
          width: 48px;
          margin-right: 1.5rem;
        }
      }

    }

    .genres-label {
      font-size: 0.5rem;
    }

    .book-intro-container {
      margin-top: 2rem;

      .label {
        font-weight: bold;
      }

      .book-intro {
        .intro {
          white-space: pre-line;
          font-size: 0.8rem;
        }

        .read-more {
          margin: 2rem 0;
          color: map_get($primary-colors, "shadow");
        }
      }
    }
  }

}
