#banner {
  background-attachment: scroll, fixed;
  background-color: $grey;
  // Photo by Mario Klassen on Unsplash
  background-image: url("/assets/img/overlay.png"),
    url("/assets/img/mario-klassen-591787-unsplash.jpg");
  background-position: top left, center center;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  color: $white;
  padding: 6em 0 7em 0;
  text-align: center;

  :last-child {
    margin-bottom: 0;
  }

  h1 a {
    color: $black-bis;
  }

  $title-color: $black;
  $title-border-color: $white-bis;
  h1 {
    font-family: $family-serif, serif;
    color: $title-color;
    font-size: 5rem;
    margin: 0 0 0.5em 0;
    padding: 0;
    text-shadow: -1px -1px 0 $title-border-color, 1px -1px 0 $title-border-color,
      -1px 1px 0 $title-border-color, 1px 1px 0 $title-border-color;
  }

  p {
    font-size: 1.25em;
    margin-bottom: 0.75em;
  }

  .search-container {
    width: 670px;
    margin: 0 auto;
    margin-bottom: 1.75em;

    .autocomplete-search-container {
      display: inline-block;
      width: 510px;
    }
    .books-langs-selector-container {
      display: inline-block;
      width: 160px;
    }
  }
}
