#banner {
  background-attachment: scroll, fixed;
  background-color: $color-black;
  // Photo by Mario Klassen on Unsplash
  background-image: url("/assets/img/overlay.png"),
    url("/assets/img/mario-klassen-591787-unsplash.jpg");
  background-position: top left, center center;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  color: $color-white;
  padding: 3em 0 4em 0;
  text-align: center;

  :last-child {
    margin-bottom: 0;
  }

  h1 a {
    color: $color-black;
  }

  $title-color: $color-black;
  $title-border-color: $color-white;
  h1 {
    font-family: $family-serif, serif;
    color: $title-color;
    font-size: 5rem;
    margin: 0 0 0.5em 0;
    padding: 0;
    text-shadow: -1px -1px 0 $title-border-color, 1px -1px 0 $title-border-color,
      -1px 1px 0 $title-border-color, 1px 1px 0 $title-border-color;
  }

  p {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }

  .search-container {
    width: 670px;
    height: 36px;
    margin: 0 auto;
    position: relative;

    .autocomplete-search-container,
    .books-langs-selector-container {
      display: inline-block;
      height: 36px;
      margin: 0;
      vertical-align: top;
    }

    .autocomplete-search-container {
      width: 510px;
    }
    .books-langs-selector-container {
      display: inline-block;
      width: 160px;

      .books-langs-selector {
        display: inline-block;
        height: 36px;
        font-size: 1.8rem;
        border-radius: 4px;
      }
    }
  }
}
