.book-full {
  .cover-container {
    width: 25%;
  }

  .main-container {
    width: 75%;

    .box {
      padding: 2rem;

      .tags-container {
        .nb-books-explanation {
          font-style: italic;
          margin-bottom: 1rem;
        }
      }
    }
  }
}
