.book-cover {
  display: block;
  width: 200px;
  height: 300px;
  margin: 0 auto;

  &.has-cover {
    text-align: center;
  }

  &.no-cover {
    $color-background: #fef2e1;
    $color-text: #b33e4a;

    background-color: $color-background;
    .no-cover-content {
      display: block;
      padding: 2rem 0.5rem 0 0.5rem;
      font-size: 1rem;
      color: $color-text;
      font-family: $family-serif, serif;
      font-weight: bold;
      text-align: center;

      span {
        display: block;

        &.by {
          margin: 0.75rem 0;
          font-style: italic;
          color: $color-black;
        }
      }
    }
  }
}
