.book-cover {
  display: block;
  width: 200px;
  height: 300px;
  margin: 0 auto;

  &.has-cover {
    text-align: center;
  }

  &.no-cover {
    $color-background: #fef2e1;
    $color-text: #b33e4a;

    position: relative;
    background-color: $color-background;
    span {
      position: absolute;
      width: 70%;
      top: 30%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);

      font-size: 1rem;
      color: $color-text;
      font-family: $family-serif, serif;
      font-weight: bold;
      text-align: center;
    }
  }
}
