:root {
  text-rendering: optimizeLegibility;
  font-family: $family-sans-serif, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: $family-serif;
  src: local("Libre Baskerville Bold"), local("LibreBaskerville-Bold"),
    url("/assets/fonts/libre-baskerville/LibreBaskerville-Bold.woff2") format("woff2"),
    url("/assets/fonts/libre-baskerville/LibreBaskerville-Bold.woff") format("woff"),
    url("/assets/fonts/libre-baskerville/LibreBaskerville-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: $family-sans-serif;
  font-style: normal;
  src: local("Metropolis Regular"), local("Metropolis-Regular"),
    url("/assets/fonts/metropolis/Metropolis-Regular.woff2") format("woff2"),
    url("/assets/fonts/metropolis/Metropolis-Regular.woff") format("woff"),
    url("/assets/fonts/metropolis/Metropolis-Regular.ttf") format("truetype");
}
