$family-serif: "Libre Baskerville";
$family-sans-serif: "Metropolis Regular";
$body-size: 16px;

$color-white: #e5e5e5;
$color-whiter: #f8f8f8;
$color-whitemost: #ffffff;
$color-background: #f5f5f5;

$color-gray-1: #646464; //we'll figure our better names for these grays leter on :-)
$color-gray-2: #777;
$color-black: #101010;

$color-pink: #e89980;
$color-green: #7fcdb8;
$color-teal: #90b0ba;
$color-yellow: #e5cb95;

$media-queries-max-width-wide: 1680px;
$media-queries-max-width-normal: 1280px;
$media-queries-max-width-narrow: 980px;
$media-queries-max-width-narrower: 840px;
$media-queries-max-width-mobile: 736px;
$media-queries-max-width-mobile-portrait: 480px;
