$family-serif: "Libre Baskerville";
$family-sans-serif: "Metropolis Regular";
$body-size: 16px;

$color-black: #19191b;
$color-white: #ffffff;
$color-gray-light: #f2f2f2;
$color-gray: #858585;
$color-text-title: #000000;
$color-text: $color-gray;
$color-blue: #0054a5;

$box-margin: 2rem;

$media-queries-mobile-width: 500px;
$media-queries-tablet-width: 768px;
