$family-serif: "Libre Baskerville";
$family-sans-serif: "Metropolis Regular";
$font-size-default: 10px;

$color-black: #19191b;
$color-white: #ffffff;
$color-gray-lightest: #f2f2f2;
$color-gray-light: #e2e2e2;
$color-gray: #858585;
$color-gray-dark: #656565;
$color-gray-darker: #19191b;
$color-blue: #0054a5;

$color-text-title: $color-black;
$color-text-default: $color-gray-dark;

$box-margin: 2rem;

$container-width-desktop: 120rem;

$media-queries-mobile-width: 500px;
$media-queries-tablet-width: 768px;
